/* Icon for language selector */
.globe {
    width: 17px;
    height: 17px;
    margin-top: -1px; /* align globe image in a header */
}

/* arrows */
.arrow-down:after,.arrow-up:after{
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.arrow-down:after{
    top: 10px;
    border-top-color: grey;
}

.arrow-up:after{
    bottom: 15px;
    border-bottom-color: grey;
}

.arrow-down,.arrow-up{
    padding-right: 10px;
}


/* align right */
.align-right {
    text-align:right;
}

.breadcrumb {
    background: none;
}

 .tab-content>.tab-pane {
     display: block;
     height: 0;
     overflow: hidden;
 }
.tab-content>.tab-pane.active {
    height: auto;
}

.voting th.rotated-text {
    height: 80px;
    white-space: nowrap;
    padding: 0 !important;
}

.voting th.rotated-text > div {
    transform:
            translate(13px, 0px)
            rotate(310deg);
    width: 30px;
}

.voting th.rotated-text > div > span {
    padding: 5px 10px;
}

.popover {
    background: rgba(0,0,0,0.85);
    color: #fff;
    border: 0;
    box-shadow: none;
    max-width: unset;
}

.popover.top>.arrow {
    border-top-color: transparent;
}

.popover.bottom>.arrow {
    border-bottom-color: transparent;
}

.popover.left>.arrow {
    border-left-color: transparent;
}

.popover.right>.arrow {
    border-right-color: transparent;
}

.popover.top>.arrow:after {
    border-top-color: rgba(0,0,0,0.85);
}

.popover.bottom>.arrow:after {
    border-bottom-color: rgba(0,0,0,0.85);
}

.popover.right>.arrow:after {
    border-right-color: rgba(0,0,0,0.85);
}

img.inlineLoading {
    margin: -5px 0;
}

.popover-content {
    word-break: break-all;
}

.dashboard-operations-chart .highcharts-container {
    height: 300px;
}

@media(min-width: 768px) and (max-width: 1200px) {
    .dashboard-operations-chart .highcharts-container {
        height: 300px;
    }
}

#highcharts-enter-fullscreen-button {
    display: block;
    width: 160px;
    margin: 0 auto;
}

@media(min-width: 768px) {
    #highcharts-enter-fullscreen-button {
        display: none;
    }
}

@media (max-width: 767px) {
    /* xs */
    .assets-bar-chart .highcharts-container {
        height: 250px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* sm */
    .assets-bar-chart .highcharts-container {
        height: 250px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
   /* md */
    .assets-bar-chart .highcharts-container {
        height: 350px;
    }
}
@media (min-width: 1200px) {
   /* lg */
    .assets-bar-chart .highcharts-container {
        height: 350px;
    }
}

.collapse-table {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
