<script type="text/ng-template" id="witnesses-list-table.html">

    <div ng-if="index === 'counter'">
        {{ cell }}
    </div>

    <div ng-if="index === 'id'">
        <a href="#/object/{{cell}}/">{{cell}}</a>
    </div>

    <div ng-if="index === 'witness_account_name'">
        <a href="#/witness/{{row.witness_account}}/">{{cell}}</a>
    </div>

    <div ng-if="index === 'url'">
        <a href="{{cell}}" target="_blank">
            <span data-translate="Link"></span>
        </a>
    </div>

    <div ng-if="index === 'total_votes'">
        {{ cell | number: 0 }}
    </div>

    <div ng-if="index === 'total_missed'">
        {{ cell | number }}
    </div>

    <div ng-if="index === 'last_confirmed_block_num'">
        <a href="#/blocks/{{cell}}/">{{cell | number}}</a>
    </div>

</script>

<div class="page page-table" data-ng-controller="witnessesCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active"><a href="#/witness/"><span data-translate="Witnesses"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="panel panel-default">
		<div class="panel-heading"><span data-translate="Active witnesses"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="{{ 'Search for active witness' | translate }}" ng-model="search">
                    </div>

                </div>
            </form>

            <responsive-table class="witnesses-list-table"
                              data-filter="search"
                              data-data="activeWitnesses"
                              data-columns="witnessColumns"
                              data-loading="activeWitnessesLoading"
                              data-loading-error="activeWitnessesLoadingError"
                              data-template="witnesses-list-table.html"
            ></responsive-table>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span data-translate="Standby witnesses"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="{{ 'Search for standby witness' | translate }}" ng-model="search2">
                    </div>
                </div>
            </form>

            <responsive-table class="witnesses-list-table"
                              data-filter="search2"
                              data-data="standbyWitnesses"
                              data-columns="witnessColumns"
                              data-loading="standbyWitnessesLoading"
                              data-loading-error="standbyWitnessesLoadingError"
                              data-template="witnesses-list-table.html"
            ></responsive-table>

        </div>
    </div>
</div>
