<script type="text/ng-template" id="popover.html">
    <div style="width: 230px">
        Block Time: {{ dynamic.time }}
        <br/>
        Number of Ops last 24Hr: {{dynamic.statistics_per_x.op_count}}
    </div>
</script>

<div class="page page-dashboard" data-ng-controller="witnessesCtrl">
    <div class="row">
        <div class="col-lg-6">
            <div class="row text-center">
                <div class="col-sm-4 col-xs-6">
                    <div class="well">
                        <div
                            class="box-info"
                            uib-popover-template="'popover.html'"
                            popover-trigger="'mouseover'"
                            popover-placement="bottom-left"
                        >
                            <p class="size-h4"> <account-name data-account-id="witness.id"></account-name> <span class="size-h4"></span></p>
                            <p class="text-muted text-small"><span data-translate="WITNESS"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="well">
                        <div class="box-info">
                            <p class="size-h4">{{witness.rank}}</p>
                            <h6>Next tally: {{next_tally.rank}}</h6>
                            <p class="text-muted text-small"><span data-translate="RANK"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="well">
                        <div class="box-info">
                            <p class="size-h4">{{witness.total_votes}}</p>
                            <h6>Next tally: {{next_tally.total_votes}}</h6>
                            <p class="text-muted text-small"><span data-translate="TOTAL VOTES"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a data-target="#voting_activity" role="tab" data-toggle="tab" ng-click="loadTabsCharts('blocks_produced')"><span data-translate="Blocks produced"></span></a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="voting_activity">
                            <highcharts-chart options="blocksProducedChartData" class="witness-blocks-produced-chart"></highcharts-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th><span data-translate="Voter"></span></th>
                    <th><span data-translate="Voting since"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="voters === undefined"><td colspan="3"><span data-translate="Loading"></span></td></tr>
                <tr ng-if="voters === 'error'"><td colspan="3"><span data-translate="An error occurred during loading"></span></td></tr>
                <tr ng-if="voters.length == 0"><td colspan="3"><span data-translate="No operations found"></span></td></tr>
                <tr ng-if="voters !== 'error' && voters.length > 0" data-ng-repeat="voter in voters track by $index">
                    <td>{{voter.name}}</td>
                    <td>{{voter.voting_since | date}}</td>
                </tr>
                </tbody>
            </table>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <ul uib-pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="votersTotalCount"
                            max-size="4"
                            ng-change="currentPage===undefined || loadWitnessDetails(currentPage)"
                            items-per-page="20"
                            rotate="false"
                            previous-text="&lsaquo;" next-text="&rsaquo;"
                            boundary-links="true"></ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
