<script type="text/ng-template" id="operations-table.html">

    <div ng-if="index === 'operation_text'" ng-bind-html="row.operation_text | to_trusted"></div>

    <div ng-if="index === 'operation_id'">
        <a href='#/operations/{{cell}}/'>{{cell}}</a>
    </div>

    <div ng-if="index === 'time'"> {{ cell | dateFilter }} </div>

    <div ng-if="index === 'block_num'">
        <a href="#/blocks/{{ cell }}">{{ cell | number }}</a>
    </div>

    <div ng-if="index === 'type'">
        <span class="badge badge-primary" style="background-color: #{{row.color}};">{{row.type}}</span>
    </div>

</script>

<div class="page page-table pools" data-ng-controller="creditOffersCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li><a href="#/pools/"><span data-translate="Credit Offers"></span></a></li>
                <li class="active"><a href="#/credit-offers/{{credit_offer_id}}">{{credit_offer_id}}</a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <h2><span data-translate="Credit Offer Operations History"></span></h2>
        <div class="panel-body table-responsive">
            <responsive-table data-data="operations"
                              data-columns="operationsColumns"
                              data-loading="operationsLoading"
                              data-template="operations-table.html"
                              data-loading-error="operationsLoadingError"
            ></responsive-table>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <ul
                            uib-pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="total_ops"
                            max-size="4"
                            ng-change="currentPage===undefined || select(currentPage)"
                            items-per-page="20"
                            rotate="false"
                            previous-text="&lsaquo;" next-text="&rsaquo;"
                            boundary-links="true"
                        ></ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
