<script type="text/ng-template" id="operations-table.html">

    <div ng-if="index === 'operation_text'" ng-bind-html="row.operation_text | to_trusted"></div>

    <div ng-if="index === 'operation_id'">
        <a href='#/operations/{{cell}}/'>{{cell}}</a>
    </div>

    <div ng-if="index === 'time'"> {{ cell | dateFilter }} </div>

    <div ng-if="index === 'block_num'">
        <a href="#/blocks/{{ cell }}">{{ cell | number }}</a>
    </div>

    <div ng-if="index === 'type'">
        <span class="badge badge-primary" style="background-color: #{{row.color}};">{{row.type}}</span>
    </div>

</script>

<div class="page page-table pools" data-ng-controller="creditOffersCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li><a href="#/pools/"><span data-translate="Credit Offers"></span></a></li>
                <li class="active"><a href="#/credit-offers/{{credit_offer_id}}">{{credit_offer_id}}</a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span data-translate="Credit Offer Operations History"></span>
            <img src="images/filter.svg" ng-click="showFilters = !showFilters" class="operations-filter"/>
        </div>
        <loading ng-if="!credit_offer_id"></loading>
        <operations-table ng-if="credit_offer_id"
                          group-by-credit-offer-id="credit_offer_id"
                          filter-by-asset-id-enabled="false"
                          show-filters="showFilters"
        />
    </div>
</div>
