<script type="text/ng-template" id="operations-list-table.html">

    <div ng-if="index === 'operation_text'" ng-bind-html="row.operation_text | to_trusted"></div>

    <div ng-if="index === 'operation_id'">
        <a href='#/operations/{{cell}}/'>{{cell}}</a>
    </div>

    <div ng-if="index === 'time'"> {{ cell | dateFilter }} </div>

    <div ng-if="index === 'block_num'">
        <a href="#/blocks/{{ cell }}">{{ cell | number }}</a>
    </div>

    <div ng-if="index === 'type'">
        <span class="badge badge-primary" style="background-color: #{{row.color}};">{{row.type}}</span>
    </div>

</script>


<div class="page page-table" data-ng-controller="operationsCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active"><a href="#/operations/"><span data-translate="Operations"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span data-translate="Last operations"></span>
            <img src="images/filter.svg" ng-click="showFilters = !showFilters" class="operations-filter"/>
        </div>

        <operations-table show-filters="showFilters"/>
    </div>
</div>
