<script type="text/ng-template" id="workers-list-table.html">

    <div ng-if="index === 'name'">
        <a href='#/objects/{{cell}}/'>{{row.name}}</a> <span class='label label-info'>{{row.voting_now}}</span>
    </div>

    <div ng-if="index === 'worker_name'">
        <a href='#/accounts/{{row.worker}}/'>{{cell}}</a>
    </div>

    <div ng-if="index === 'start'">
        {{cell | dateFilter}}
    </div>

    <div ng-if="index === 'end'">
        {{cell | dateFilter}}
    </div>

    <div ng-if="index === 'daily_pay'">
        {{cell | number}}
    </div>

    <div ng-if="index === 'url'">
        <div ng-if="row.have_url == 1">
            <a href="{{cell}}" target="_blank">
                <span data-translate="Link"></span>
            </a>
        </div>
        <div ng-if="row.have_url == 0">
            <span data-translate="No Link"></span>
        </div>
    </div>

    <div ng-if="index === 'votes_for'">
        {{ cell | number: 0 }}
    </div>

    <div ng-if="index === 'perc'">
        {{ row.perc | number:2 }}%
    </div>

</script>

<div class="page page-table" data-ng-controller="workersCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active">
                    <span data-translate="DAC"></span>
                    <a href="#/workers/"><span data-translate="Workers"></span></a>
                </li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="panel panel-default">
		<div class="panel-heading"><span data-translate="Current workers"></span> </div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="{{ 'Search for current workers' | translate }}" ng-model="search">
                    </div>
                </div>
            </form>

            <responsive-table class="workers-list-table"
                              data-data="workers_current"
                              data-columns="workersColumns"
                              data-filter="search"
                              data-template="workers-list-table.html"
                              data-loading="workersLoading"
                              data-loading-error="workersLoadingError"
            ></responsive-table>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span data-translate="Expired workers"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="{{ 'Search for expired workers' | translate }}" ng-model="search2">
                    </div>
                </div>
            </form>

            <responsive-table class="workers-expired-list-table"
                              data-data="workers_expired"
                              data-columns="workersExpiredColumns"
                              data-filter="search2"
                              data-template="workers-list-table.html"
                              data-loading="workersLoading"
                              data-loading-error="workersLoadingError"
            ></responsive-table>

        </div>
    </div>
</div>
