<script type="text/ng-template" id="fees-list-table.html">

    <div ng-if="index === 'identifier'">
        {{cell}}
    </div>

    <div ng-if="index === 'operation'">
        <span class="badge badge-primary" style="background-color: #{{row.color}};">{{row.operation}}</span>
    </div>

    <div ng-if="index === 'basic_fee'">
        {{ cell | number }}
    </div>

    <div ng-if="index === 'premium_fee'">
        {{ cell | number }}
    </div>

    <div ng-if="index === 'price_per_kbyte'">
        {{ cell | number }}
    </div>


</script>

<div class="page page-table" data-ng-controller="feesCtrl">

    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active"><a href="#/fees/"><span data-translate="Fees"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>


    <div class="panel panel-default">
		<div class="panel-heading"><span data-translate="Fee schedule"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="{{ 'Search for a fee' | translate }}" ng-model="search">
                    </div>
                </div>
            </form>

            <responsive-table class="fees-list-table"
                              data-data="fees"
                              data-filter="search"
                              data-template="fees-list-table.html"
                              data-columns="feesColumns"
                              data-loading="feesLoading"
                              data-loading-error="feesLoadingError"
            ></responsive-table>

        </div>
    </div>

</div>
